<h1>Lista de articulos</h1>

<%= link_to 'Nuevo articulo', new_article_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
	<th colspan="3">Acciones</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
	  <td><%= link_to 'Editar', edit_article_path(article) %></td>
	  <td><%= link_to 'Mostrar', article_path(article) %></td>
	  <td><%= link_to 'Borrar', article_path(article), 
			method: :delete, data: {confirm: 'Seguro quieres eliminar el registro?'} %></td>
    </tr>
  <% end %>
</table>